.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 320px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  margin: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 54px 18px 40px 18px;
}

// Размеры картинок подправлю в след дз
.advantages__item--image {
  padding: 0;
  width: 320px;
  height: 260px;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
    height: 256px;
  }
}

.advantages__image {
  display: block;
}

.advantages__item:nth-child(2) {
  @media (min-width: @tablet-width) {
    grid-column: 2/-1;
  }
}

.advantages__item:nth-child(5) {
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

.advantages__title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 11px;
  line-height: 26px;
}

.advantages__number {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 17px;
}

.advantages__description {
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 9px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 11px;
  }
}

.advantages__item--primary {
  background-color: @main-blue;
  color: #ffffff;
}

.advantages__item--secondary {
  background-color: @advantages-secondary;
  padding: 24px 18px 26px 18px;

  @media (max-width: @mobile-width-only) {
    &:last-child {
      padding-bottom: 28px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 52px 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 61px 30px 41px 30px;
  }
}

.advantages__text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: @mobile-width-only) {
    & br {
      display: none;
    }
    padding-left: 8px;
    padding-right: 8px;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      bottom: -24px;
      right: 0;
      left: 0;
      background-color: #d6d6d6;
    }
  }
}

//Убирает разделитель у последнего элемента
.advantages__item:last-child .advantages__text-wrapper::after {
  height: 0;
}
