.hotel-search {
  text-transform: uppercase;
  text-align: center;
  max-width: 284px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 49px;
  display: flex;
  flex-direction: column;

  @media (max-width: @mobile-width-only) {
    & br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    max-width: 458px;
    margin-top: 61px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}

.hotel-search__title {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.hotel-search__description {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 45px;
  }
}

.hotel-search__button {
  padding: 16px 49px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
    padding-top: 18px;
  }
}
