.main-footer__wrapper {
  margin: 0 auto;
  padding: 0;
  padding-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 120px;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.main-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  padding-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.main-footer__social {
  padding-bottom: 40px;
  align-self: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.main-footer__copyright {
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-bottom: 36px;
  }
}
