.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    position: relative;
    min-height: 56px;
  }
}

.main-header__logo {
  height: 96px;
  z-index: 2;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 185px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-header__logo--secondary {
  cursor: pointer;
}
