.page-intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.page-intro__photo-wrapper {
  position: relative;
  background-color: fade(@main-blue, 50%);
  background-image: url("../../img/sedona-intro.jpg");
  background-repeat: no-repeat;
  background-position: 50% -40px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../img/divider-mobile.svg");
    background-repeat: no-repeat;
    z-index: 1;
    width: 320px;
    height: 57px;
    left: -50%;
    transform: translateX(50%);
    bottom: -2px;
  }

  @media (min-width: @tablet-width) {
    background-position: 50% -1px;

    &::after {
      background-image: url("../../img/divider-tablet.svg");
      width: 768px;
    }

    @media (min-width: @desktop-width) {
      &::after {
        background-image: url("../../img/divider-desktop.svg");
        width: 1200px;
      }
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/sedona-intro@2x.jpg");
    background-size: 1200px auto;
  }
}

.page-intro__image {
  align-self: center;
  padding-top: 90px;
  margin-bottom: 78px;

  @media (min-width: @tablet-width) {
    padding-top: 78px;
    margin-bottom: 82px;
    width: 461px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
  }
}

.page-intro__title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 520px;
  }

  @media (min-width: @desktop-width) {
    width: 484px;
  }
}

.page-intro__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 435px;
  }
}

.page-intro__title {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 35px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    padding-left: 12px;
    padding-right: 12px;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-top: 50px;
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 63px;
  }
}

.page-intro__text-wrapper .page-intro__title {
  margin-top: 36px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-top: 64px;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 114px;
    margin-bottom: 30px;
  }
}

.page-intro__slogan {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
    padding: 0;
  }
}

.page-intro__text-wrapper .page-intro__slogan {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 4px;
  line-height: 21px;

  @media (min-width: @tablet-width) {
    line-height: 23px;
    margin-bottom: 14px;
  }
}
