.photo__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.photo__description {
  text-transform: uppercase;
}

.catalog__list {
  list-style-type: none;
}
//Карточки делать гридами

.card__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
